/*Begin Foundation 

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
Begin Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
End of Reset
*/
* {
  font-size: 62.5%;
}
/*End Foundation*/

/*Begin Custom CSS*/
body {
  font-size: 1rem;
  font-family: sans-serif;
  font-size: .8rem;
  margin: 0 auto;
  display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vh;
}
header {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}
.head {
    display:  inline-flex;
    flex-direction: row;
    align-items: center;
}
.head h1 {
    font-size: 2.5rem;
    font-family: mv boli;
}
.head p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5%;
}
.head-vert {
    margin: 10% 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
nav {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  height: 10vh;
  
}
nav a {
    font-size: 1.25em;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    padding: 0 3%;
    border-radius: 12px;
    text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.ui1 {
    background-color: coral;
}
.ui2 {
    background-color: rgb(49, 201, 201);
}
.ui3 {
    background-color: rgb(250, 203, 83);
}
#about {
    color: white;
    text-align: center;
    font-size: 1.5em;
    word-spacing: .2em;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    background-color: rgb(231, 186, 165);
    padding: 2%;
    border: 1px solid beige;
}
#plan {
    text-align: center;
    font-size: 1em;
    word-spacing: .2em;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 2%;
}
#plan img {
    width: 50%;
    height: 50%;
}
#go {
    text-align: center;
    font-size: 1em;
    word-spacing: .2em;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 2%;
}
#go img {
    width: 50%;
    height: 50%;
}
header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
footer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
footer img {
    height: 150px;
    width: 100%;
}
footer nav {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    background-color: papayawhip;
}